[Unit]
Description=Gunicorn API powering abSENT
After=network.target

[Service]
User=absent
Group=www-data
WorkingDirectory=/home/absent/backend
Environment="PATH=/home/absent/backend/backend"
ExecStart=/home/absent/backend/backend/python /home/absent/backend/src/gunicorn.py

[Install]
WantedBy=multi-user.target